<div class="row">
  <div class="col-8">
    <h1>Welcome to Tea Mood</h1>
    <p>
      Hi tealovers. We know picking a tea is not an easy task, what type, what blend, what flavors? Fear not, Tea Mood is here to help. Make a post about what type of tea you would like and other users will help you find it.
    </p>
  </div>
  <div class="col-4">
    <a href="/teas/new" class="btn btn-primary">Add Tea</a>
  </div>
</div>
<ul class="row">
  <% teas.forEach((tea) => { %>
    <li class="col-md-4">

    <img class="img-thumbnail btn-outline-dark" src="<%= tea.image %>" alt="<%= tea.teatype %>">
    <a href="/teas/<%= tea.id %>"> <h2><%= tea.teatype %></h2> </a>
    <p>
    <%= tea.region %><br>
    <%= tea.description %><br>
    <%= tea.teaquality %><br>
    <%= tea.mood %><br>
    <%= tea.country %><br>
    </p>
    <p>
    <%= tea.createdBy.username %>
    </p>
    </a>
    </li>
    <% }) %>
  </ul>
