<div class="row">
  <div class="col-8">
    <h1>Welcome to Tea Mood</h1>
    <p>
      Hi tealover.We know picking a tea is not easy, what type, what country, what region? So many questions! Fear not, Tea Mood is here to help. Make a post about what type of tea you would like and other users will help you find what you need.
    </p>
  </div>
  <div class="col-4">
    <a href="/teas/new" class="btn btn-primary">Add Tea</a>
  </div>
<% teas.forEach((tea) => { %>
  <div class="col-md-4">

      <img class="img-thumbnail btn-outline-dark" src="<%= tea.image %>" alt="<%= tea.teatype %>">
      <a href="/teas/<%= tea.id %>"> <h2><%= tea.teatype %></h2> </a>
      <p>
        <%= tea.region %><br>
        <%= tea.description %><br>
        <%= tea.teaquality %><br>
        <%= tea.mood %><br>
        <%= tea.country %><br>
      </p>
      <p>
        <%= tea.createdBy.username %>
      </p>
    </a>
  </div>
 <% }) %>
</div>
