<div class="large-12 columns">
  <img src="<%= tea.image %>" alt="<%= tea.name %>">
  <h2><%= tea.name %></h2>

  <p>
    <%= tea.region %><br>
    <%= tea.description %><br>
    <%= tea.teaquality %><br>
    <%= tea.mood %><br>
    <%= tea.country %><br>
    <%= tea.image %><br>
  </p>

  <p>
    <% while(tea.stars--) { %> &star; <% } %>
  </p>

  <% if(locals.isAuthenticated && tea.belongsTo(user)) { %>
    <a href="/teas/<%= tea.id %>/edit">Edit</a>
    <form method="POST" action="/teas/<%= tea.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button>Delete</button>
    </form>
  <% } %>

  <section>
    <h4>Comments</h4>
    <% tea.comments.forEach((comment) => { %>
      <p><%= comment.content %></p>
      <small><%= comment.createdBy.username %></small>

      <% if(locals.isAuthenticated && comment.belongsTo(user)) { %>
        <form method="POST" action="/teas/<%= tea.id %>/comments/<%= comment.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button>Delete</button>
        </form>
      <% } %>
    <% }) %>
  </section>

  <% if(locals.isAuthenticated) { %>
    <section>
      <h4>Leave a comment</h4>
      <form method="POST" action="/teas/<%= tea.id %>/comments">
        <textarea name="content" id="content" placeholder="Comment"></textarea>
        <button class="button">Leave a comment</button>
      </form>
    </section>
  <% } %>

</div>
