<div class="large-12 columns">
  <div class="row">
  <div class="col-6">
  <img src="<%= tea.image %>" alt="<%= tea.name %>">

    <% if(locals.isAuthenticated) { %>
        <form method="POST" action="/teas/<%= tea.id %>/comments">
          <textarea name="content" id="content" placeholder="Comment" required ></textarea>
          <button class="btn-block">Leave a comment</button>
        </form>
    <% } %>

  </div>
    <div class="col-6">
  <h2><%= tea.name %></h2>

<section>
  <p>
    <%= tea.region %><br>
    <%= tea.description %><br>
    <%= tea.teaquality %><br>
    <%= tea.mood %><br>
    <%= tea.country %><br>
  </p>
    <% if(locals.isAuthenticated && tea.belongsTo(user)) { %>
      <a href="/teas/<%= tea.id %>/edit">Edit</a>
      <form method="POST" action="/teas/<%= tea.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete</button>
      </form>
    <% } %>
    <h4>Comments</h4>

    <% tea.comments.forEach((comment) => { %>
      <div class="eachcoment">
    <p><%= comment.content %></p> 


      <small><%= comment.createdBy.username %></small>

      <% if(locals.isAuthenticated && comment.belongsTo(user)) { %>
        <form method="POST" action="/teas/<%= tea.id %>/comments/<%= comment.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button>Delete</button>
        </form>

      <% } %>
      </div>
    <% }) %>


</div>


</section>




</div>
</div>
