
<% teas.forEach((tea) => { %>
  <div class="large-4 columns">
    <a href="/teas/<%= hotel.id %>">
      <img class="thumbnail" src="<%= tea.image %>" alt="<%= tea.name %>">
      <h2><%= tea.name %></h2>
      <p>
        <%= tea.address.line1 %><br>
        <% if(tea.address.line2) { %><%= tea.address.line2 %><br><% } %>
        <%= tea.address.city %><br>
        <%= tea.address.postcode %><br>
        <%= tea.address.country %>
      </p>

      <p>
        <% while(tea.stars--) { %> &star; <% } %>
      </p>
      <p>
        <%= tea.createdBy.username %>
      </p>
    </a>
  </div>
<% }) %><h1>index</h1>
